---
import { IndexPage } from "@/layouts/IndexPage";
import Main from "@/layouts/main.astro";
import logoImg from "public/logo.webp";
import logoSmallImg from "public/logo_small.webp";
import profileImg from "public/profile.webp";
import CarImage from "public/projects/car.png";
import LoomImage from "public/projects/loom.webp";
import WyroTechImage from "public/projects/wyrotech.png";
import acpImg from "public/screenshots/acp.png";
import connectaImg from "public/screenshots/connacta-regensburg.png";
import courseraImg from "public/screenshots/coursera.png";
import dabImg from "public/screenshots/dab.png";
import edvschuleImg from "public/screenshots/edvschule.png";
import firstcontactImg from "public/screenshots/firstcontact-deggendorf.png";
import { Navigation } from "../../components/Navigation";
import { getBrowserLocale } from "../../i18n/browser";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import DeferWrapper from "../../layouts/DeferWrapper.astro";
import Footer from "../../layouts/Footer.astro";
import LandingHeader from "../../layouts/LandingHeader.astro";
import ProgrammingLanguages from "../../layouts/ProgrammingLanguages.astro";
import Projects from "../../layouts/Projects.astro";
import SpeakingLanguages from "../../layouts/SpeakingLanguages.astro";
import type { LandingPageObject, Project } from "../../lib/models";

const browserLanguage = getBrowserLocale(Astro.request.headers);
const lang = getLangFromUrl(Astro.url, browserLanguage);
const t = useTranslations(lang);

Astro.response.headers.set(
	"Cache-Control",
	"s-maxage=360, stale-while-revalidate",
);
Astro.response.headers.set("Vercel-CDN-Cache-Control", "max-age=3600");
Astro.response.headers.set("CDN-Cache-Control", "max-age=60");
export const prerender = true;

const obj: LandingPageObject = {
	logo: logoImg.src,
	logoSmall: logoSmallImg.src,
	profileUrl: profileImg.src,
	profileSmallUrl: profileImg.src,
	timelineImages: {
		firstcontact: firstcontactImg.src,
		dab: dabImg.src,
		coursera: courseraImg.src,
		connecta: connectaImg.src,
		edvschule: edvschuleImg.src,
		acp: acpImg.src,
	},
	projects: [
		{
			title: "WyroTech",
			description: t("project.wyrotech.description"),
			tag: "Website",
			image: WyroTechImage.src,
			link: "https://github.com/WyroTech/wyrotech",
			tech: ["react", "astro", "tailwindcss", "vercel"],
		} as Project,
		{
			title: "RoboCar 4.0",
			description: t("project.robocar.description"),
			tag: "Robotic",
			link: "https://github.com/WyroTech/RoboCar",
			tech: ["cplusplus", "python", "javascript"],
			image: CarImage.src,
		},
		{
			title: "dab Nexus Loom",
			description: t("project.loom.description"),
			tag: "Business-Analytic Platform",
			link: "https://www.dab-europe.com/en/products/dab-nexus-loom/",
			image: LoomImage.src,
			tech: ["angular", "docker", "dotnet"],
		},
	].reverse(),
};
---

<Main>
    <link slot="head" rel="prefetch" fetchpriority="high" as="image" type="image/webp" href={obj.logo} />
    <link slot="head" rel="prefetch" fetchpriority="high" as="image" type="image/webp" href={obj.profileUrl} />

    <Navigation client:only="preact" logo={obj.logoSmall} />
    <LandingHeader profileUrl={obj.profileUrl} profileSmallUrl={obj.profileSmallUrl} />
    <DeferWrapper server:defer>
        <ProgrammingLanguages/>
        <SpeakingLanguages/>
        <Projects projects={obj.projects} />
        <IndexPage client:only="preact" obj={obj}/>
        <Footer/>
    </DeferWrapper>
</Main>